.mainheader{
  background-image: url("../images/landing.jpg");
}
.top{
  text-align: center;
}
.happy{
text-align: center;
background-color: white;
height: 20px;
padding: 53px;
width: auto;
}

.party{
text-align: center;
background-color: #F15A29;
height: 20px;
padding: 53px;
width: auto;
}

/*.breakfast{

}*/
/*.modal1{
  position: left;
  width: 100px

}

.modal2{

width: 100px
}*/

#container {
    max-width: 600px;
    margin: 0 auto;

    .imgContainer{
        width: 100%;
    }

}

.mid{
  background-image: url("../images/foodsBg.jpg");

}

/*#background-call-action{
  background-image:url("..images/subscribe.jpg");

}*/



.bots{
  background-image: url("../images/subscribe.jpg");
  height: 200px
}

.small{
  background-color: #F15A29;
  text-align: center;
}
