.mainheader{
  background-image: url("../images/landing.jpg");
}
.top{
  text-align: center;
}
.happy{
text-align: center;
background-color: white;
height: 20px;
padding: 53px;
width: auto;
}

.party{
text-align: center;
background-color: #F15A29;
height: 20px;
padding: 53px;

}

.thumbnail{
  width: 500px
}

.modal2{

width: 100px
}*/

#container {
    max-width: 600px;
    margin: 0 auto;

    .imgContainer{
        width: 100%;
    }

}

.mid{
  background-image: url("../images/foodsBg.jpg");

}

.mid { position: relative; }

.mid .arrow { position: absolute; top: 0; }

.mid .arrow.left { left: 100px; }

.mid .arrow.right { right: 100px; }

.bots{
  background-image: url("../images/subscribe.jpg");
  height: 200px
}

.small{
  background-color: #F15A29;
  text-align: center;
}
