.mainheader{
  background-image: url("../images/landing.jpg");
}
.top{
  text-align: center;
}

.modal1{
  position: left;
  width: 100px

}

.modal2{

width: 100px
}

#container {
    max-width: 600px;
    margin: 0 auto;

    .imgContainer{
        width: 100%;
    }

}

.mid{
  background-image: url("../images/foodsBg.jpg");
}

.customers{
  text-align: center;
}
